<form id="login" method="post" action="/sessions" class="pure-form">

  <label class="label" for="phone_number"> <i class="icon icon-phone" style="color: white; padding: 0px 5px"></i>  </label>
  <!-- <div class="pure-u-1-5"> -->
    <input type="text" name="phone_number" placeholder="Phone Number" value="<%= @phone_number %>">
  <!-- </div> -->
  <label class="label" for="password"> <i class="icon icon-lock" style="color: white; padding: 0px 5px"></i>   </label>
  <!-- <div class="pure-u-1-5"> -->
    <input type="password" name="password" placeholder="Password">
  <!-- </div> -->
  <button type="submit" class="pure-button" style="margin: 0px 5px" >Login</button>

</form>
