<form id="signup" method="post" action="/users" class="pure-form pure-form-aligned" >

  <fieldset>

    <div class="pure-control-group">
        <label for="name">Name</label>
        <input type="text" name="user[name]" placeholder="Jane Doe" >
    </div>

    <div class="pure-control-group">
        <label for="phone_number">Phone Number</label>
        <input type="text" name="user[phone_number]" placeholder="4154154154" >
    </div>

    <div class="pure-control-group">
        <label class="label" for="phone_number">Email</label>
        <input type="email" name="user[email]" placeholder="you@example.com" >
    </div>

    <div class="pure-control-group">
      <label class="label" for="password">Password</label>
      <input type="password" name="password" placeholder="6 or more numbers">
    </div>

    <div class="pure-controls">
      <button type="submit" class="pure-button pure-button-primary">Join!</button>

    </div>

  </fieldset>

</form>

