<h3> Here's how this page would look: </h3>
<br>
<div class="ui two column stackable grid container">
  <div class="column">
    <div class="ui green card">
        <div class="content">
          <div class="header">
            The 411
          </div>
        </div>
        <div class="content">
          <div class="description">
            <h3>
              Monday from 7:00am to 9:00am
            </h3>
          </div>
        </div>
        <div class="ui vertical segment">
        </div>
      <div class="ui vertical segment">
        <!-- <div class="content"> -->
          <div class="ui top left attached label">
            Countdown
          </div>
          <div class="ui three mini green statistics">
            <div class=" statistic">
              <div class="value">
                2
              </div>
              <div class="label">
                days
              </div>
            </div>
            <div class="statistic">
              <div class="value">
                4
              </div>
              <div class="label">
                hours
              </div>
            </div>
            <div class="statistic">
              <div class="value">
                22
              </div>
              <div class="label">
                minutes
              </div>
            </div>
          </div>
          <!-- </div> -->
        </div>
      <div class="ui vertical segment">
        <div class="content" style="margin-left: 1.5em!important">
          <div class="ui top left attached label">
            Notifications
          </div>
          <div class="ui toggle checkbox">
            <input type="checkbox" name="preceeding-day-notif" checked>
            <label>Text me an hour before </label>
            <br>
          </div>
          <div class="ui toggle checkbox" checked>
            <input type="checkbox" name="day-of-notif">
            <label>Text me in the day of at 8am</label>
            <br>
          </div>
          <div class="ui toggle checkbox">
            <input type="checkbox" name="preceeding-day-notif">
            <label>Text me the night prior at 8pm</label>
          </div>
        </div>
      </div>
      <div class="ui two bottom attached buttons">
        <div class="ui basic blue button" >
          <i class="send icon"></i>
          Send SMS
        </div>
        <div class="ui basic red button">
          <i class="trash icon"></i>
          Delete
        </div>
      </div>
      </div>
  </div>

  <div class="column">

    <div class="ui orange card">
      <div class="content">
        <div class="header"> Location </div>
      </div>
      <div class="image">
        <img src="https://api.tiles.mapbox.com/v4/mapbox.emerald/pin-l-car+f2711c(-122.398272,37.714488,18)/-122.398272,37.714488,18/290x300.png?access_token=pk.eyJ1IjoidGlzZGVyZWsiLCJhIjoiZjkyNGM0NzNmMmJkZDcwNDY1ZTFjZjdmMjg5ZjVjYjcifQ.L45m9mxolxtTCizyjYLzGA">
      </div>
      <div class="content">
        <span>
          <i class="marker icon"></i>
          26 Hester Avenue
        </span>
      </div>
      <div class="extra content">
        <a>
          <i class="wait icon"></i>
          Created on Monday, July 26th at 5:30pm
        </a>
      </div>
    </div>

  </div>
</div>

