<div id="park-body">
  <div id='map'></div>

  <div class="ui middle aligned center aligned grid">
      <div id="parking-form">
        <form action = "/park" method="post">

          <input type="hidden" name="lng" id="lng" value="" />
          <input type="hidden" name="lat" id="lat" value="" />

          <button type="submit" id="submit-location-park-btn" class="massive ui orange button"  >
            Yep, I'm here.
          </button>

        </form>
      </div>


    <div id="grab-location-park-btns" class="large ui buttons">
      <button id='geolocate-park-btn' class="ui blue button">Find my location</button>
      <div class="or"></div>
      <button id='pindrop-park-btn' class="ui blue button">Let me drop a pin</button>
    </div>
  </div>

</div>

<!-- mapbox -->
<link rel='stylesheet' href='https://api.tiles.mapbox.com/mapbox.js/v2.2.1/mapbox.css'/>

<script src='https://api.tiles.mapbox.com/mapbox.js/v2.2.1/mapbox.js'></script>

<script>
L.mapbox.accessToken = 'pk.eyJ1IjoidGlzZGVyZWsiLCJhIjoiZjkyNGM0NzNmMmJkZDcwNDY1ZTFjZjdmMjg5ZjVjYjcifQ.L45m9mxolxtTCizyjYLzGA';
var geolocate = document.getElementById('geolocate-park-btn');
var park = document.getElementById('submit-location-park-btn')
var map = L.mapbox.map('map', 'mapbox.emerald', {
  center: [37.7833, -122.4167],
  zoom: 13
});

var myLayer = L.mapbox.featureLayer().addTo(map);

    // This uses the HTML5 geolocation API
    if (!navigator.geolocation) {
      geolocate.innerHTML = 'Geolocation is not available';
    } else {
      geolocate.onclick = function (e) {
        e.preventDefault();
        e.stopPropagation();
        map.locate();
      };
    }

    // Once we've got a position, zoom and center the map
    // on it, and add a single marker.
    map.on('locationfound', function(e) {
      park.style.display = 'block'
      map.fitBounds(e.bounds);
      myLayer.setGeoJSON({
        type: 'Feature',
        geometry: {
          type: 'Point',
          coordinates: [e.latlng.lng, e.latlng.lat]
        },
        properties: {
          'marker-size': 'large',
          'marker-color': '#3bb2d0',
          'marker-symbol': 'car'
        }
      });

        // And hide the geolocation button
        geolocate.parentNode.removeChild(geolocate);
      });

    // If the user chooses not to allow their location
    // to be shared, display an error message.
    map.on('locationerror', function() {
      geolocate.innerHTML = 'Position could not be found';
    });
    </script>
