<div id="options-body">

	<div id="content-col "class="ui centered text container">

		<div class="ui padded basic vertical segment">
			<div class="ui text container">
				<h2 class="ui header">
					<i class="users icon"></i>
					Add a contact
				</h2>
				If you share your car or have someone that can move your car, <br> Faeree can send them personalized text messages to keep them in the loop.
			</div>
		</div>

		<div class="ui padded vertical segment ">
			<div id="acct-options">
				<%= erb :"users/_show" %>
			</div>
		</div>
	</div>

</div>