<div id="options-body">

	<div class="ui text container ">
	<div class="ui padded basic vertical segment ">
		<h2 class="ui header">
			<i class="smile icon"></i>
				Account
		</h2>
		<%= erb :"users/_show" %>

		<button class="ui blue button">
		  <i class="icon coffee"></i>
		  Upgrade
		</button>

		<button class="ui blue basic button">
		  <i class="icon pencil"></i>
		  Edit
		</button>


	</div>

	<div class="ui padded basuc vertical segment">
		<h2 class="ui header">
			<i class="users icon"></i>
				Contacts
		</h2>
		<%= erb :"users/_show" %>
	</div>

</div>