  <div id="user-contacts" class="ui container">
    <div class="ui doubling three cards">
    <% user.contacts.each do |contact| %>
      <%= erb :"contacts/_show", locals: {contact: contact} %>
    <% end %>
    </div>
    <div class="ui basic vertical segment">
        <button class="ui labeled basic orange icon button"  id="add-contact-btn">
          <i class="add user icon"></i>
          Add Contact
        </button>
    </div>
  </div>
  <script>
    $('.ui.accordion').accordion()

  </script>
</div>

