<form action="/contacts" method="post" class="pure-form">
  <fieldset>
    <legend> New contact information </legend>
    <input type="text" name="name" placeholder="Name" />
    <input type="text" name="phone_number" placeholder="Phone" />
    <input type="submit" value="Add" class="pure-button pure-button-success" />
  </fieldset>
</form>
