<form class="ui form" id="add-contact-form" action="/contacts" method="post">

  <div class="field">
    <input type="text" id="contact-add-name "  name="name" placeholder="Name">
  </div>
  <div class="field">
    <input type="tel" id="contact-add-number"name=" phone_number" placeholder="Phone number" >
  </div>

  <input class="ui right floated button" id="add-contact-btn" type="submit" value="Submit">

</form>
<br>