<div class="ui card">
  <div class="content">
    <div class="ui medium header"> 
      <%= contact.contact_name %> 
    </div>
    <i class="mobile icon"></i> 
    <%= display_phone(contact.contact_phone_number) %>
  </div>
  <div class="ui two bottom attached small buttons">

      <a class= "ui grey basic vertical animated button" >
        <div class="visible content"> 
          <i class="pencil icon"></i> 
        </div>
        <div class="hidden content"> 
          Edit 
        </div>
      </a>

      <div class= "ui red basic vertical animated button">
        <div class="visible content"> <i class="trash icon"></i> </div>
        <div class="hidden content"> Delete </div>
      </div>

    </div>
  </div>
</div>

