<h2>CleanSweep Contacts</h2>

<h3>  <i class="icon icon-users"></i>  Contact list:</h3>

<%= erb :_index %>

<h3> <i class="icon icon-user-plus"></i> Add to your contacts </h3>

<%= erb :_new %>





