<h3> <i class="icon icon-user"></i> Login</h3>

<% if @error %>
  <div class="errors"><%= @error %></div>
<% end %>

<form id="login" method="post" action="/sessions" class="pure-form pure-form-aligned">
  <label class="label" for="email">Email</label>

  <input type="email" name="email" placeholder="e.g., me@example.com" value="<%= @email %>"><br>

  <label class="label" for="password">Password</label>

  <input type="password" name="password" placeholder="6 or more characters">

  <br>
  <input type="submit" value="Login" class="pure-button pure-button-primary">

</form>
