<h3> <i class="icon icon-user-plus"></i> SignUp </h3>

<form id="signup" method="post" action="/users" class="pure-form pure-form-aligned" >
  <label class="label" for="name">Name</label>
  <input type="text" name="user[name]" placeholder="e.g., joe" >
  <br>

  <label class="label" for="phone_number">Number</label>
  <input type="text" name="user[phone_number]" placeholder="e.g., 4154154154" >
  <br>

  <label class="label" for="email">Email</label>
  <input type="email" name="user[email]" placeholder="e.g., me@example.com" >
  <br>

  <label class="label" for="password">Password</label>
  <input type="password" name="password" placeholder="6 or more numbers">
  <br>

  <input type="submit" value="Sign Up" class="button-large pure-button pure-button-success" >
</form>
