<!DOCTYPE html>
<html lang="en">
<head>
  <%= erb :_head_content %>
</head>
<body>

  <div class="ui large borderless inverted blue menu top attached ">
    <div class="left menu">
      <a class="center aligned item">
        <i class="sidebar icon"></i>
      </a>
    </div>
    <div class="center menu">
      <a class="header item">
        CLEAN SWEEP
      </a>
    </div>
    <div class="right menu">
      <a class="item">
        <i class="share icon"></i>
      </a>
    </div>
  </div>
  <div id="sec-menu" class="ui three item secondary pointing blue menu bottom attached">
    <a class="item" id="park-sec-item" href="/park">
      Park
    </a>
    <a class="item" id="dash-sec-item" href="/">
      Dashboard
    </a>
    <a class="item" id="contacts-sec-item" href="/contacts">
      Contacts
    </a>
  </div>
  <div class="ui bottom attached segment pushable">

    <div class="ui inverted labeled icon left inline vertical sidebar menu">
      <a class="item" id="options-nav-item" href="#">
        <i class="send outline icon"></i>
        Tell friends
      </a>
      <a class="item" id="parked-nav-item" href="#">
        <i class="alarm outline icon"></i>
        Notifications
      </a>
      <a class="item" id="park-nav-item" href="#">
        <i class="history icon"></i>
        History
      </a>
      <a class="item" id="options-nav-item" href="/settings">
        <i class="settings icon"></i>
        Settings
      </a>
      <a class="item" id="logout-nav-item" href="/logout">
        <i class="external icon"></i>
        Logout
      </a>
    </div>


    <div class="pusher">
      <div id="main-container" class="ui main container ">
          <%= yield %>
      </div>
    </div>
  </div>


  <script src="/semantic/semantic.js"></script>
  <script>
    $('.large.menu').children().first().on('click', function(){
      $('.ui.sidebar').sidebar('toggle');
    })
  </script>
</body>
</html>
