<!DOCTYPE html>
<html lang="en">
<head>
  <%= erb :_head_content %>
</head>


<body>

  <div class="ui top attached large inverted borderless stackable blue menu">
    <a class="item">
      <i class="sidebar icon"></i>
    </a>
    <a class="header item">
      Clean Sweep
    </a>
  </div>
  <div class="ui bottom attached segment pushable">
    <div class="ui inverted labeled icon left inline vertical sidebar menu">
    <div class="ui relaxed fitted grid"
      <a class="item" id="park-nav-item" href="/park">
        <i class="location arrow icon"></i>
        Park Now
      </a>
      <a class="item" id="parked-nav-item" href="/parked">
        <i class="car icon"></i>
        Parked
      </a>
      <a class="item" id="contacts-nav-item" href="/contacts">
        <i class="book icon"  ></i>
        Contacts
      </a>
      <a class="item" id="options-nav-item" href="/option">
        <i class="options icon"></i>
        Options
      </a>
      <a class="item" id="logout-nav-item" href="/logout">
        <i class="external icon"></i>
        Logout
      </a>
    </div>
    </div>
    <div class="pusher">
      <div class="ui basic segment">
          <%= yield %>
      </div>
    </div>
  </div>

  <script src="/semantic/semantic.js"></script>
  <script>
    $('.large.menu').children().first().on('click', function(){
      $('.ui.sidebar').sidebar('toggle');
    })
  </script>

</body>
</html>


