<!DOCTYPE html>
<html lang="en">
<head>
  <%= erb :_head_content %>
</head>
<body>

  <div class="ui large borderless inverted blue menu top attached ">
    <div class="left menu">
      <a class="center aligned item">
        <i class="sidebar icon"></i>
      </a>
    </div>
    <div class="center menu">
      <a class="header item">
        CLEAN SWEEP
      </a>
    </div>
    <div class="right menu">
      <a class="item">
        <i class="share icon"></i>
      </a>
    </div>
  </div>
  <div class="ui three item borderless blue secondary pointing menu bottom attached">

    <a class="item" id="park-nav-item" href="/park">
      Park
    </a>
    <a class="item" id="parked-nav-item" href="/parked">
      Dashboard
    </a>
    <a class="item" id="contacts-nav-item" href="/contacts">
      Contacts
    </a>


  </div>

  <div class="ui bottom attached segment pushable">

    <div class="ui inverted labeled icon left inline vertical sidebar menu">
      <a class="item" id="park-nav-item" href="/park">
        <i class="location arrow icon"></i>
        Park Now
      </a>
      <a class="item" id="parked-nav-item" href="/parked">
        <i class="car icon"></i>
        Parked
      </a>
      <a class="item" id="contacts-nav-item" href="/contacts">
        <i class="book icon"  ></i>
        Contacts
      </a>
      <a class="item" id="options-nav-item" href="/options">
        <i class="options icon"></i>
        Options
      </a>
      <a class="item" id="logout-nav-item" href="/logout">
        <i class="external icon"></i>
        Logout
      </a>
    </div>


    <div class="pusher">
      <div class="ui basic segment">
          <%= yield %>
      </div>
    </div>

  </div>


  <script src="/semantic/semantic.js"></script>
  <script>
    $('.large.menu').children().first().on('click', function(){
      $('.ui.sidebar').sidebar('toggle');
    })
  </script>
</body>
</html>
