<!DOCTYPE html>
<html lang="en">
<head>
  <%= erb :_head_content %>
</head>
<style>
.ui.menu .item{
  /* Place the flex items vertically */
  flex-direction: column;
}
.ui.menu .item>i.icon{
  /* Bigger icons */
  font-size: 1.5em;
  /* Better spacing */
  margin: 0px 0px 5px;
}

</style>
<body>

    <div class="ui one top attached buttons">
    <div class="ui orange button">Clean Sweep</div>
  </div>

  <div class="ui attached segment">
    <%= yield %>
  </div>


  <div class="ui five item inverted blue menu bottom attached">

    <a class="item" id="park-nav-item" href="/park">
      <i class="car icon"></i>
      Park Now
    </a>
    <a class="item" id="parked-nav-item" href="/parked">
      <i class="dashboard icon"></i>
      Dashboard
    </a>
    <a class="item" id="contacts-nav-item" href="/contacts">
      <i class="book icon"  ></i>
      Contacts
    </a>
    <a class="item" id="options-nav-item" href="/options">
      <i class="options icon"></i>
      Options
    </a>
    <a class="item" id="logout-nav-item" href="/logout">
      <i class="external icon"></i>
      Logout
    </a>

  </div>



  <script src="/semantic/semantic.js"></script>
  <script>
    $('.large.menu').children().first().on('click', function(){
      $('.ui.sidebar').sidebar('toggle');
    })
  </script>
</body>
</html>
