<!DOCTYPE html>
<html lang="en">
<head>
  <%= erb :_head_content %>
<style type="text/css">
  .column {
    max-width: 400px;
  }

</style>
</head>
<body style="margin-bottom: 200px;">
  <div class="ui vertical masthead center aligned segment">

	<br>
  <div class="ui text container">
    <h1 class="ui orange header">
      I'm passionate about not getting street sweeping tickets
    </h1>
    <h2>Clean Sweep is here to help SF folks keep those $66</h2>
    <br>
    	<div class="ui middle aligned center aligned grid">
    	  <div class="column">
					<div class="ui top attached tabular menu">
					  <a class="item active" data-tab="first">Login</a>
					  <a class="item" data-tab="second">Signup</a>
					</div>
					<div class="ui bottom attached tab segment active" data-tab="first">
						<form id="login" method="post" action="/sessions" class="ui large form">
    	        <div class="field">
    	          <div class="ui left icon input">
    	            <i class="phone icon"></i>
    	            <input <input type="tel" name="phone_number" id="login_phone_number" placeholder="Phone Number" novalidate>
    	          </div>
    	        </div>
    	        <div class="field">
    	          <div class="ui left icon input">
    	            <i class="lock icon"></i>
    	            <input type="password" name="password" placeholder="Password">
    	          </div>
    	        </div>
    	        <input type="submit" value="Login" class="ui fluid large primary submit button">
      	    </form>
					</div>
					<div class="ui bottom attached tab segment" data-tab="second">
					  <form id="signup" method="post" action="/users" class="ui large form">
              <div class="field">
                <div class="ui left icon input">
                  <i class="smile icon"></i>
                  <input type="text" name="name" id="signup_name" placeholder="Name">
                </div>
              </div>
              <div class="field">
                <div class="ui left icon input">
                  <i class="phone icon"></i>
                  <input type="tel" name="phone_number" id="signup_phone_number" placeholder="Phone Number" novalidate>
                </div>
              </div>
              <div class="field">
                <div class="ui left icon input">
                  <i class="lock icon"></i>
                  <input type="password" name="password" placeholder="Password">
                </div>
              </div>
              <input type="submit" value="Join" class="ui fluid large green button">
            </form>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <div>
    <img class="ui fluid image" style="position:fixed; margin-top:80%; clear:both; bottom:0; z-index: 1;" src="http://i.imgur.com/jbt6SuK.png">
  </div>

<script src="/semantic/semantic.js"> </script>
<script>
	$('.menu .item').tab();
</script>
</body>
</html>
