<!DOCTYPE html>
<html lang="en">
<head>
  <%= erb :_head_content %>
<style type="text/css">
  .column {
    max-width: 400px;
  }

</style>
</head>
<body>
  <div class="ui vertical masthead center aligned segment">
	<br>
	<br>
	<br>

  <div class="ui text container">
    <h1 class="ui orange header">
      I'm passionate about not getting street sweeping tickets
    </h1>
    <h2>Clean Sweep is here so that SF can keep those $66</h2>
    <br>
    	<div class="ui middle aligned center aligned grid">
    	  <div class="column">
					<div class="ui top attached tabular menu">
					  <a class="item active" data-tab="first">Login</a>
					  <a class="item" data-tab="second">Signup</a>
					</div>
					<div class="ui bottom attached tab segment active" data-tab="first">
						<form id="login" method="post" action="/sessions" class="ui large form">
    	        <div class="field">
    	          <div class="ui left icon input">
    	            <i class="phone icon"></i>
    	            <input type="text" name="phone_number" id="login_phone_number" placeholder="9-digit number">
    	          </div>
    	        </div>
    	        <div class="field">
    	          <div class="ui left icon input">
    	            <i class="lock icon"></i>
    	            <input type="password" name="password" placeholder="Password">
    	          </div>
    	        </div>
    	        <input type="submit" value="Login" class="ui fluid large primary submit button">
      	    </form>
					</div>
					<div class="ui bottom attached tab segment" data-tab="second">
					  <form id="signup" method="post" action="/users" class="ui large form">

<script src="/semantic/semantic.js"> </script>
<script> 
	$('.menu .item').tab();
	// jQuery(function($){
	//    $("#login_phone_number").mask("(999) 999-9999");
	//    $("#signup_phone_number").mask("(999) 999-9999");
	// });
</script>
</body>
</html>
