<!DOCTYPE html>
<html lang="en">
<head>
  <%= erb :_head_content %>
</head>
<body>
  <div class="ui inverted vertical masthead center aligned segment">

    <div class="ui text container">
      <h1 class="ui inverted header">
        Imagine-a-Company
      </h1>
      <h2>Do whatever you want when you want to.</h2>
      <div class="ui huge primary button">
        Get Started
        <i class="right arrow icon"></i>
      </div>
    </div>

  </div>

<div class="splash-container">
		<div class="splash">
				<h1 class="splash-head">No more Street sweeping tickets</h1>
				<p class="splash-subhead">
						Our mission is for you to keep those $66
				</p>
				<p>
						<a href="" class="pure-button pure-button-primary">Get Started</a>
				</p>
		</div>
</div>
<div class="content-wrapper">

		<div class="content">
				<h2 class="content-head is-center">Dolore magna aliqua. Uis aute irure.</h2>

				<div class="pure-g">
						<div class="l-box-lrg pure-u-1 pure-u-md-2-5">
								<h3> <i class="icon icon-user-plus"></i> Get started! </h3>
								<%= erb :"sessions/_signup" %>
						</div>

						<div class="l-box-lrg pure-u-1 pure-u-md-3-5">
								<%= erb :"sessions/_login" %>

								<h4>More Information</h4>
								<p>
										Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
										tempor incididunt ut labore et dolore magna aliqua.
								</p>
						</div>
				</div>

		</div>

		<div class="footer l-box is-center">
				Made by Derek Gerson
		</div>

</div>

</body>
</html>
